:root{
    font-size: 16px;
    --top-bar-height: 2rem;
}

.topbar-block{
    position: fixed;
    top: 0;
    width: 100%;
}
.section-block{
    position: relative;
    border: 2px solid red;
    top: calc(var(--top-bar-height) + 2px);
    margin: 0.1rem 0.25rem;
}